/* renderer/src/components/ConfirmationDialog.css */
.confirmation-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog {
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.confirmation-dialog p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--color-text)
}

.confirmation-dialog .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.confirmation-dialog .confirm-button {
    background-color: var(--color-save);
    color: var(--color-text-4);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation-dialog .confirm-button:hover {
    background-color: var(--color-save-hover);
}

.confirmation-dialog .cancel-button {
    background-color: var(--color-neutral);
    padding: 8px 16px;
    border: 1px solid var(--color-neutral-border);
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-text)
}

.confirmation-dialog .cancel-button:hover {
    background-color: var(--color-neutral-hover);
}